@import '../../../node_modules/bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset_url('home_image');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}